<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--A new product Id must be generated for each release!-->
  <Product Id="4BAB316A-8963-46D0-B504-4FCD7A275B60" Name="Human UI" Language="1033" Version="0.8.1.3" Manufacturer="Human" UpgradeCode="06F04C34-81D6-4E23-A3D5-5B90012697A8">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

   
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."  AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes"/>
   
    <Feature Id="ProductFeature" Title="HUI_Install" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="OtherFolders" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder" Name="Roaming">
        <Directory Id="GRASSHOPPER" Name="Grasshopper">
          <Directory Id="GHLIBRARIES" Name="Libraries">
            <Directory Id="INSTALLFOLDER" Name="HumanUI" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="OtherFolders">
      <Component Id="GHLIBRARIES" Directory="GHLIBRARIES" Guid="F7F0A724-20FC-4E38-AB52-89C86D3A3311">
        <RemoveFolder Id='GHLIBRARIES' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\GHLIB' Type='string' Value='' KeyPath='yes' />
      </Component>
      <Component Id="GHROOT" Directory="GRASSHOPPER" Guid="F7323588-8418-437D-9382-FDAEA3417246">
        <RemoveFolder Id='GRASSHOPPER' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\GHROOT' Type='string' Value='' KeyPath='yes' />
      </Component>
    </ComponentGroup>
    
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="INSTALLFOLDER" Guid="06DE80F1-A047-454E-AE4B-D47843787441">
        <RemoveFolder Id='INSTALLFOLDER' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
      </Component>

      

      <Component Id="mainGHA" Guid="6CE72C89-502A-4F16-924A-36209D33B47A">
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\GHA' Type='string' Value='' KeyPath='yes' />

        <File Source="$(var.HumanUI.TargetPath)" Name="HumanUI.gha"/>
        <File Source="$(var.HumanUI.TargetDir)HumanUIBaseApp.dll"/>
        <File Source="$(var.HumanUI.TargetDir)HelixToolkit.dll"/>
        <File Source="$(var.HumanUI.TargetDir)HelixToolkit.Wpf.dll"/>
        <File Source="$(var.HumanUI.TargetDir)MahApps.Metro.dll"/>
        <File Source="$(var.HumanUI.TargetDir)Markdown.Xaml.dll"/>
        <File Source="$(var.HumanUI.TargetDir)Styles.Default.Xaml"/>
        <File Source="$(var.HumanUI.TargetDir)System.Windows.Interactivity.dll" />
        <File Source="$(var.HumanUI.TargetDir)XCeed.Wpf.Toolkit.dll" />
        <File Source="$(var.HumanUI.TargetDir)De.TorstenMandelkow.MetroChart.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>